<header>

  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="nav-center">
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <a class="nav-item" href="{{ my_page.url | prepend: site.baseurl }}">
          {{ my_page.title }}
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>

</header>
