<header>

  <nav class="nav has-shadow">
    <div class="nav-left">
      <a class="nav-item is-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="nav-center">
    </div>

    <div class="nav-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.permalink %}
              <a class="nav-item" href="{{ my_page.permalink }}">
                {{ my_page.title }}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <!-- <div class="is-mobile is-hidden-desktop">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.permalink %}
              <a class="nav-item" href="{{ my_page.permalink }}">
                {{ my_page.mobile-icon }}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div> -->
  </nav>

</header>
