.hero {
  margin-bottom: 10px;
}

.hero-body {
  padding-top:    20px;
  padding-bottom: 20px;
}

.card {
  margin-bottom: 10px;
}

.narrow {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  margin-top: 10px;
}
