---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{ page.title }}</h1>
          <h2 class="subtitle">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {{ page.date | date: "%b %-d, %Y" }}
              {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            </time>
          </h2>
          <h2>
          </h2>
        </div>
      </div>
    </section>
  </header>

  <div class="box narrow" itemprop="articleBody">
    {{ content }}
  </div>

</article>
